.opening i {
    padding: 5px;
    background: #ffb900;
    border: 1px solid black;
    border-radius: 10px;
    color: green;
}

.opening span {
    font-size: 25px;
}

.the-body i {
    color: #ffd679;
}

.the-body p {
    font-size: 16px;
}


.button-bai-1 {
    border: none;
    padding: 10px 35px;
    background: #4b70e2;
    color: white;
    border-radius: 30px;
}

.button-bai-1:hover {
    background: #1b378ddd;
}

.select-bai-2 {
    width: 40%;
}

.accordion {
    background: white;
    cursor: pointer;
    padding: 18px;
    width: 37%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: none;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}